@import url("CssFolders/bootstrab/bootstrap.min.css");
@import url("CssFolders/bootstrab/bootstrap.bundle.min.js");
@import url("CssFolders/basic/style.css");
@import url("CssFolders/webfonts/fonts.css");

/* Navbar */
.nav .auth-container {
    display: flex;
    align-items: center;
    gap: 59px;
    position: absolute;
    z-index: 2;
    margin: 50px;
    left: 60%;
}
.nav .login-button {
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 1s;
}
.nav .register-button {
    padding: 25px 15px;
    border: 1.5px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 21px;
    text-decoration: none;
    transition: all 1s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.nav .register-button::after{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    inset: 0;
    transition: all 1s cubic-bezier(0.5, 1.6, 0.4, 0.7);
    z-index: -1;
}
.nav .login-button:hover {
    color: #578B8F;
}
.nav .register-button:hover::after {
    width: 100%;
    background-color: #F8BD00; 
}

/* home */
.home{
    height: 460vh;
    background-color: #3B696D;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.home .image img {
    height: 534px;
    width: 250px;
    left: 750px;
    top: 320px;
    gap: 48px;
    transform: translate(-280%, -90%);
    position: absolute;
}
/* Shapes */
.small-circle {
    position: absolute;
    z-index: 2;
    top: 165px;
    left: 1020px;
    height: 70px;
    width: 75px;
    border-radius: 50%;
    background-color: #D9D9D9;
}
.large-circle {
    position: absolute;
    z-index: 2;
    top: -70px;
    right: -138px;
    height: 290px;
    width: 290px;
    border-radius: 48%;
    background-color: #77B2B6;
}
.home-page h2{
    position: absolute;
    z-index: 2;
    top: 260px;
    left: 10%;
    font-family: "Patua One";
    color: #FAD660;
}
.home-page .cards{
    position: absolute;
    z-index: 2;
    top: 320px;
    left: 5%;
}
.home-page .cards .card {
    margin-bottom: 20px;
}
.home-page .cards .card-body p{
    font-family: "Patua One";
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    color: #2B4E51;
    position: absolute;
    z-index: 3;
    top: 300px;
    left: 90px;
}
